* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(32, 2, 2);
    color: #e0f4f0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.header {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbar li {
    flex-direction: row-reverse;
    margin: 0 10px;
    transition: color 0.8s ease-in-out, background-color 0.8s ease-in-out;
}

.navbar a {
    text-decoration: none;
    color: #e0f4f0;
}

.navbar li:hover {
    color: #e0f4f0;
    color: #b2e8e6;
    animation: translateY 0.8s infinite alternate, changeColor 0.8s infinite alternate;
}

@keyframes translateY {
    from {
        transform: translateY(0) scale(1);
    }
    to {
        transform: translateY(-5px) scale(1.1);
    }
}

@keyframes changeColor {
    0%,
    100% {
        color: transparent;
    }
    50% {
        color: #b2e8e6;
    }
}

@keyframes changeColor {
    0%,
    100% {
        background-color: transparent;
    }
    50% {
        background-color: #b2e8e6;
    }
}

input[type="text"] {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    z-index: 100;
}

#icons {
    display: flex;
    justify-content: center;
    overflow-y: visible;
    color: #b2e8e6;
}

input[type="text"]:focus {
    outline: none;
    border-color: #b2e8e6;
}

input[type="text"] {
    margin-left: 0;
}

input[type="text"]:hover {
    outline: none;
    border-color: #fff0f5;
    box-shadow: 0 0 10px 2px #e0f4f0;
}

.apresentação h1 {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #d6cdb9;
    text-align: center;
    word-spacing: 0.2em;
}

h2 {
    display: flex;
    text-align: center;
    color: #d6cdb9;
}